config.*
*.o
*.a
*.lo
*.la
*.deps*
*.libs*
Makefile
.DS_Store
*.mode1v3
*.pbxuser

# libfaad2
faad
libfaad.la
libtool
stamp-h1
faad2.spec
libfaad.la

# libao
ao.pc
os_types.h
libtool
libao.la
libmacosx.la
